@font-face {
  font-family: 'ABC Arizona Flare';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/ABCArizonaFlareTrial-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'ABC Arizona Flare';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/ABCArizonaFlareTrial-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'ABC Arizona Flare';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/ABCArizonaFlareTrial-Bold.otf') format('opentype');
}
